// Section Two

@import "../base/variables";
@import "../base/media-queries";

.section-2 {
    font-family: $sora;
    font-size: $tamañoSubtitulos;
    text-decoration: underline;
    text-decoration: bolder;
    margin: 20px;
}

.section-2-img1 {
    height: 250px;
    width: 250px;
    margin: 10px;
    
}

.section-2-img2 {
    height: 250px;
    width: 250px;
    margin: 10px;
    
}

.section-2-img3 {
    height: 250px;
    width: 250px;
    margin: 10px;
    padding-left: 20px;
}

.paragraph-section-2 {
    padding-left: 90px;
}


