// Servicios 

@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.title-servicios {
    @extend %titulos;
}

.subtitle-servicios {
    text-align: center;
    font-family: $sora;
    font-size: $tamañoSubtitulos;
    text-decoration: underline;
    margin: $marginSubtitulos;
}

.paragraph-servicios-1 {
    font-family: $roboto;
    font-size: $tamañoParrafos;
    word-spacing: $wordSpacing;
    margin: $marginParrafos;
}

.servicios-img1 {
    @include tamaño-img(200px, 75%, 20px);
}

.paragraph-servicios-2 {
    font-family: $roboto;
    font-size: $tamañoParrafos;
    word-spacing: $wordSpacing;
    margin: $marginParrafos;
}

.servicios-img2 {
    @include tamaño-img(150px, 35%, 20px);
}

.paragraph-servicios-3 {
    font-family: $roboto;
    font-size: $tamañoParrafos;
    word-spacing: $wordSpacing;
    margin: $marginParrafos;
}

.servicios-img3 {
    @include tamaño-img(150px, 35%, 20px);
}

.flex-container-servicios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


